body {
    background-image: url(https://img.rawpixel.com/s3fs-private/rawpixel_images/website_content/pf-lukestackpoole2-milford-plains-eye.jpg?auto=format&bg=transparent&con=3&cs=srgb&dpr=1&fm=jpg&ixlib=php-3.1.0&mark=rawpixel-watermark.png&markalpha=90&markpad=13&markscale=10&markx=25&q=75&usm=15&vib=3&w=1000&s=5a57bab1cd70d3d7554ae88863f61cd7);
 
    background-size: cover;
    background-position:center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    opacity: 0.8;
 }

